.navbar-toggler {
    border: none;
    outline: none;
}


.navbar {
    background-color: #f5f5f5 !important; 
    border: none;
  }
  
.nav-container{
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    margin-left: 10%;
}
@media (max-width: 768px) {
    .nav-container {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      margin-left: 0;
    }
  }
.navbar-brand {
    color: #fa8000 !important; /* Başlık rengi */
    font-size: 80px;    
    border: none;
    display: inline-block;
    padding-bottom: 0;
}
.navbar-nav .nav-link {
    color: black !important; /* Menü öğesi rengi */
    margin-right: 20px;
    text-decoration: none;
}
  
  /* Menü öğelerinin üzerine gelindiğinde */
.navbar-nav .nav-link:hover {
    text-decoration: underline;
}
@media screen and (min-width:1600px ) {
    .navbar-nav{
        margin-left: 8%;
    }
}

.nav-item.giris-yap .nav-link {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: #fa8000; /* Arka plan rengi */
    padding: 5px 10px; /* Arka plan alanı boyutlandırma */
    border-radius: 10px; /* Kenar yumuşatma */
    color: white !important; /* Yazı rengi */
    text-decoration: none; /* Link altı çizgisi */
    
}
.nav-item.giris-yap .nav-link i {
    margin-right: 8px; /* İkon ile metin arasına boşluk ekleyin */
}
.custom-link {
    color: black !important;
    text-decoration: underline;
    display: block;
    margin-left: 110px;
    font-size: 1.0em;
}
body {
    background-color: #f5f5f5; 
    margin: 0;
}