#map {
    height: 60%;
    width: 70%;
    margin: auto;
    border: 3px solid #fa8000;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .rotasyonGiris {
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    color: #152F4F;
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
  }

  .rotasyonGirisAlt{
    padding-top: 1%;
    font-size: 19px;
    text-align: center;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    color: #152F4F;
    margin-left: 16%;
    margin-right: 16%;
  }

  #rotasyonGirisAltDetay{
    font-size: 17px;
    text-align: center;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    color: #152F4F;
  }

  .secilenMekanlar{
    margin-left: 16%;
    padding-top: 5%;
  }

  .secilenMekanlar li{
    width: 20%;
    height: auto;
    max-width: 20%;
    background-color: #f5f5f5;
    display: flex;
    font-size: 18px;
    border: none;
  }

  .numberCircle {
    color: white;
    /*border: 2px solid #152F4F;*/
    background-color: #fa8000;
    border-radius: 50%;
    font-size: 18px;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em; 
    height: 2em;
  }

  .numberCircle2{
    color: white;
    /*border: 2px solid #152F4F;*/
    background-color: #249464;
    border-radius: 50%;
    font-size: 18px;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em; 
    height: 2em;
  }

  .numberCircle3{
    color: white;
    /*border: 2px solid #152F4F;*/
    background-color: #189ad3;
    border-radius: 50%;
    font-size: 18px;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em; 
    height: 2em;
  }

  .seciliMekanAdi{
    margin-left: 5%;
  }

  @media (max-width: 600px) {
    .seciliMekanAdi{
      margin-left: 50%;
    }
  }

  @media (max-width: 600px) {
    .numberCircle,.numberCircle2,.numberCircle3{
      padding-left: 80%;
      padding-right: 80%;
    }
  }
  

  .altBilgi p{
    padding-top: 1%;
    font-size: 19px;
    text-align: center;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    color: #152F4F;
    margin-left: 16%;
    margin-right: 16%;
  }

  .clickable-text{
    color: #fa8000;
    cursor: pointer;
    padding-top: 1%;
    font-size: 25px;
    margin-left: 40%;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
  }

  /* Tıklanabilir metin hover durumu için stil */
  .clickable-text:hover {
      color: #152F4F;
  }
  
  @media (max-width: 600px) {
    .clickable-text{
      margin-left: 10% !important;
      font-size: 20px;
    }
  }

  @media (min-width: 600px) {
    .mobilUyarisi{
      visibility: hidden;
      display: none;
    }
  }


  @media (max-width: 600px) {
    .mobilUyarisi{
      visibility: visible;
      display: block;
    }
  }