
body {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); /* Gölgelendirme: RGB(0, 0, 0) Şeffaflık: 0.5 */
    margin: 0;
    
}
.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-color: transparent;
}

.navbar {
    background-color: #f5f5f5 !important; /* Renk: RGB(0, 128, 255) Şeffaflık: 0.5 */
    border: none;
  }
  
.nav-container{
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    margin-left: 10%;
}
@media (max-width: 768px) {
    .nav-container {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      margin-left: 0;
    }
  }
.navbar-brand {
    color: #00CC99 !important; /* Başlık rengi */
    font-size: 80px;    
    border: none;
    display: inline-block;
}
.custom-link {
    color: #444 !important;
    text-decoration: underline;
    display: block;
    margin-left: 110px;
}


.navbar-nav .nav-link {
    color: #444 !important; /* Menü öğesi rengi */
    margin-right: 20px;
    text-decoration: none;
}
  
  /* Menü öğelerinin üzerine gelindiğinde */
.navbar-nav .nav-link:hover {
    text-decoration: underline;
}



.nav-item.giris-yap .nav-link {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: #00CC99; /* Arka plan rengi */
    padding: 5px 10px; /* Arka plan alanı boyutlandırma */
    border-radius: 10px; /* Kenar yumuşatma */
    color: white !important; /* Yazı rengi */
    text-decoration: none; /* Link altı çizgisi */
    
}
.nav-item.giris-yap .nav-link i {
    margin-right: 8px; /* İkon ile metin arasına boşluk ekleyin */
}

.jumbotron-container {
    width: 100%;
    height: 100%;
    margin-top: 0; /* İhtiyaca göre değiştirilebilir */
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    
}
.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

.register-form {

    padding-top: 40px; /* Üst kısma boşluk ekler */
    padding-bottom: 60px; /* Alt kısma boşluk ekler */
    margin: 0 auto;
}

.login-form {

    padding-top: 40px; /* Üst kısma boşluk ekler */
    padding-bottom: 60px; /* Alt kısma boşluk ekler */
    margin: 0 auto;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    border-radius: 15px;
    /*background: linear-gradient(45deg, #c59d63, #bcb88f);*/
    background: white;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.sifremiUnuttum {
    display: flex;
    justify-content: flex-end; 
}

#sifremiUnuttumButton {
    border: none;
    outline: none;
    padding: 0 0;
    cursor: pointer;
    color: gray;
    text-decoration: underline;
    background: none;

}

#sifreResetButton {
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: #00CC99;
    border-radius: 5px;
}

.center {
    display: block;
    margin: 0 auto;
}

.footer{
    background: #30336b    ;
    color:white;
    
    .links ul {
        list-style-type: none;
    }
    
    .links li a {
        color: white;
        transition: color 0.2s;
        text-decoration: none;
    }
    
    .links li a:hover {
        text-decoration: underline;
        color: #4180CB;
    }
     
    
    .about-company i {
        font-size: 25px;
    }
    
    .about-company a {
        color: white;
        transition: color 0.2s;
    }
    
    .about-company a:hover {
        color: #4180CB;
        text-decoration: none;
    }
     
    .location i {
        font-size: 18px;
        margin: 0 5px;
        color: white;
    }
    
    .location p {
        color: white;
    }
    
    .location a {
        text-decoration: none;
        color: white;
    }
    
    
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
    }
    
    .yuvarlak-imge {
        border-radius: 50%;
    }
    
    .fa-ul li {
        font-size: 1.2em;
        padding-bottom: 14px; 
      }
      .fa-li-co{
        padding-left: 5px;
      }
      
      .fa-ul li:hover .fa-li i,
      .fa-ul li:hover .fa-li-co {
        color: #2ecc71; 
      }
    
      .fa-ul li.clicked {
        background-color: #2ecc71; 
      }
      .fa-ul a{
        color: black;
        cursor: pointer;
    }
      .fa-ul a:hover {
        text-decoration: none;
      }
      .fa-ul a:link,
        .fa-ul a:visited {
          color: black; 
        }
      .fa-ul a.active {
        color: #2ecc71 !important; 
      }

   
  















